@model TaskListViewModel
@{
    ViewData["Title"] = "AssignUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string searchKey = (string)ViewBag.SearchKey;
}
<div class="row mt-2">
    <div class="col-md-12 mb-2">
        @if (!string.IsNullOrEmpty(searchKey))
        {
            <div class="border border-dark p-3 mb-2">
                <strong>@searchKey</strong> kelimesi için sonuçları görüyorsunuz.
                <a asp-action="AssignUser" asp-route-id="@Model.Id" class="float-right">Filtreyi sonlandır</a>
            </div>
        }
        <form asp-action="AssignUser" method="get" class="text-right">
            <input class="form-control-sm border border-primary border-top-0 border-left-0 border-right-0" name="searchKey" />
            <button class="btn btn-sm btn-primary">Ara..</button>
        </form>
    </div>
    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <h4 class="lead text-center pt-2">Görev Bilgileri</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Ad
                </h5>
                <p class="card-text">
                    @Model.Aciklama
                </p>
                <p class="card-text">
                    <strong>Aciliyet Durumu : </strong>
                    <span class="badge badge-primary">@Model.Urgency.Description</span>
                </p>
                <p class="card-text"> <small>@Model.OlusturulmaTarihi.ToString("D")</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var item in (List<AppUserListViewModel>)ViewBag.Kullanicilar)
        {
            <div class="card mb-3 border border-primary p-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/img/@item.Picture" class="card-img img-thumbnail" alt="@item.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.Surname</h5>
                            <p class="card-text"><GetTaskWithAppUserId app-user-id="item.Id"></GetTaskWithAppUserId></p>
                            <p class="card-text"><small class="text-muted">@item.Email</small></p>
                            <a class="btn btn-sm btn-primary float-right"
                              asp-action="AssignTaskToUser"
                               asp-route-AppUserId="@item.Id"
                               asp-route-TaskId="@Model.Id">Görevlendir</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (!string.IsNullOrEmpty(searchKey))
                {
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.ActivePage==i?"active":"")">
                            <a class="page-link"
                               asp-action="AssignUser"
                               asp-route-id="@Model.Id"
                               asp-route-page="@i"
                               asp-route-searchKey="@searchKey">@i</a>
                        </li>
                    }
                }
                else
                {
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.ActivePage==i?"active":"")">
                            <a class="page-link"
                               asp-action="AssignUser"
                               asp-route-id="@Model.Id"
                               asp-route-page="@i">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>
