@model TaskAssignUserListViewModel
@{
    ViewData["Title"] = "AssignTaskToUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-2">

    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <h4 class="lead text-center pt-2">Görev Bilgileri</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Task.Ad
                </h5>
                <p class="card-text">
                    @Model.Task.Aciklama
                </p>
                <p class="card-text">
                    <strong>Aciliyet Durumu : </strong>
                    <span class="badge badge-primary">@Model.Task.Urgency.Description</span>
                </p>
                <p class="card-text"> <small>@Model.Task.OlusturulmaTarihi.ToString("D")</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3 border border-primary p-2">
            <div class="card-header">
                <div class="card-title">
                    <h5 class="text-center lead">Kullanıcı Bilgileri</h5>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/img/@Model.AppUser.Picture" class="card-img img-thumbnail" alt="@Model.AppUser.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.AppUser.Name @Model.AppUser.Surname</h5>
                        <p class="card-text"><GetTaskWithAppUserId app-user-id="Model.AppUser.Id"></GetTaskWithAppUserId></p>
                        <p class="card-text"><small class="text-muted">@Model.AppUser.Email</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form method="post" asp-action="AssignTaskOnUser">
            <p>
                Yukarıdaki göreve ilgili kullanıcı atanacaktır. bu işlemi gerçekleştirmek istediğinizden emin misiniz ?
            </p>
            <div class="form-group text-center">
                <a class="btn btn-warning" asp-action="AssignUser" asp-route-id="@Model.Task.Id">Vazgeç</a>
                <input type="hidden" name="AppUserId" value="@Model.AppUser.Id" />
                <input type="hidden" name="TaskId" value="@Model.Task.Id" />
                <button type="submit" class="btn btn-primary">Evet Görevlendir</button>
            </div>
        </form>
    </div>
</div>

