@model List<TaskListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Any())
{
    <table class="table table-sm table-hover mt-2">
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Oluşturulma Tarihi</th>
            <th>Kullanıcı</th>
            <th>Aciliyet</th>
            <th>Rapor Sayısı</th>
            <th>İşlem</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Aciklama</td>
                <td>@item.OlusturulmaTarihi.ToString("D")</td>
                <td>
                    @{
                        if (item.AppUser == null)
                        {
                            <span class="badge badge-danger">Çalışan kullanıcı yok</span>
                        }
                        else
                        {
                            <span class="badge badge-success">@item.AppUser.UserName</span>
                        }
                    }
                </td>
                <td>@item.Urgency.Description</td>
                <td>@item.Reports.Count()</td>
                <td>
                    @{
                        if (item.AppUser == null)
                        {
                            <a asp-action="AssignUser" asp-route-id="@item.Id">Kullanıcı Ata</a>
                        }
                        else
                        {
                            <a asp-action="ViewDetail" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                Detay
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3">
        <p class="lead">
            Herhangi bir görev bulunamadı
        </p>
        <a asp-area="Admin" asp-controller="Task" asp-action="AddTask" class="btn btn-sm btn-info">Bir görev oluştur</a>
    </div>
}
