@model AppUserListViewModel;
@{ string active = TempData["active"]?.ToString(); }
<!-- Sidebar -->
<div class="border border-primary border-left-0 border-top-0 border-bottom-0 border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <span>Yönetici Ekranı </span>
        <img src="~/img/@Model.Picture" alt="@Model.Name" style="height:10rem!important;width:10rem!important;" class="w-100 img-thumbnail" />
        <h4>@Model.Name @Model.Surname</h4>
    </div>
    <div class="list-group list-group-flush">
        <a asp-area="Admin"
           asp-controller="Task"
           asp-action="Index"
           class="list-group-item list-group-item-action @(active=="task"?"active":"")">
            <i class="fas fa-tasks fa-1x mr-2"></i>Görev
        </a>
        <a asp-area="Admin"
           asp-controller="Urgency"
           asp-action="Index"
           class="list-group-item list-group-item-action @(active=="urgency"?"active":"")">
            <i class="fas fa-exclamation-triangle fa-1x mr-2"></i>Aciliyet
        </a>
        <a asp-area="Admin"
           asp-controller="TaskOrder"
           asp-action="Index"
           class="list-group-item list-group-item-action @(active=="taskorder"?"active":"")">
            <i class="fas fa-briefcase fa-1x mr-2"></i>İş Emirleri
        </a>
        <a href="#" class="list-group-item list-group-item-action "><i class="fas fa-chart-bar fa-1x mr-2"></i>Grafikler</a>
        <a href="#" class="list-group-item list-group-item-action "><i class="fas fa-chart-area fa-1x mr-2"></i>İstatistikler</a>
        <a href="#" class="list-group-item list-group-item-action "><i class="fas fa-bell fa-1x mr-2"></i>Bildirimler</a>
        <a asp-area="Admin"
           asp-controller="Profil"
           asp-action="Index" class="list-group-item list-group-item-action @(active=="profile"?"active":"")">
            <i class="fas fa-user fa-1x mr-2"></i>Profil
        </a>
        <a asp-area=""
           asp-controller="Home"
           asp-action="SignOut" class="list-group-item list-group-item-action ">
            <i class="fas fa-sign-out-alt fa-1x mr-2"></i>Çıkış Yap
        </a>
    </div>
</div>