@model AppUserSignInViewModel 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Index</h1>

<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
<a asp-area="Member" asp-controller="Home" asp-action="Index">Member</a>
<form asp-action="SignIn" method="post" class="w-50 mt-5 mx-auto p-3 shadow">
    <div class="form-group">
        <label asp-for="@Model.UserName"></label>
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        <input asp-for="@Model.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
        <input asp-for="@Model.Password" class="form-control" />
    </div>
    <button asp-action="Register" class="btn btn-sm btn-warning">Kayıt Ol</button>
    <button type="submit" class="btn btn-sm btn-info">Giriş Yap</button>
</form>