@model TaskTable.Web.Areas.Admin.Models.TaskEditViewModel
@{
    ViewData["Title"] = "EditTask";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="EditTask" method="post" class="w-75 mx-auto p-3">
    <input type="hidden" asp-for="@Model.Id"/>
    <div class="form-group">
        <label>Ad: </label>
        <span class="text-danger" asp-validation-for="@Model.Ad"></span>
        <input class="form-control" type="text" asp-for="@Model.Ad" />
    </div>
    <div class="form-group">
        <label>Açıklama: </label>
        <span class="text-danger" asp-validation-for="@Model.Aciklama"></span>
        <textarea class="form-control" type="text" asp-for="@Model.Aciklama"></textarea>
    </div>
    <div class="form-group">
        <label>Aciliter: </label>
        <span class="text-danger" asp-validation-for="@Model.UrgencyId"></span>
        <select asp-for="@Model.UrgencyId" class="form-control" asp-items="ViewBag.Urgencies">
            <option hidden value="-1">Seçiniz</option>
        </select>
    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-save mr-2"></i>Kaydet</button>
</form>
@section JavaScript{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}