@model List<TaskTable.Web.Areas.Admin.Models.TaskListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Any())
{
    <a asp-action="AddTask" class="btn btn-sm btn-info my-2">Bir görev oluştur</a>
    <table class="table table-hover table-sm">
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Oluşturulma Tarihi</th>
            <th>Aciliyet Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Aciklama</td>
                <td>@item.OlusturulmaTarihi.ToString("D")</td>
                <td>@item.Urgency.Description</td>
                <td>
                    <a class="btn btn-sm btn-danger" 
                       data-toggle="modal" 
                       data-target="#silTaskModal" 
                       data-taskId="@item.Id"><i class="fas fa-trash"></i></a>
                    <a class="btn btn-sm btn-warning" 
                       asp-action="EditTask" 
                       asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3">
        <p class="lead">
            Herhangi bir görev bulunamadı
        </p>
        <a asp-area="Admin" asp-controller="Task" asp-action="AddTask" class="btn btn-sm btn-info">Bir görev oluştur</a>
    </div>
}
<div class="modal fade" id="silTaskModal" tabindex="-1" aria-labelledby="silTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="silTaskModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır, Vazgeç</button>
                <button id="btnSil" type="button" class="btn btn-primary">Evet, Sil</button>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#silTaskModal").on("show.bs.modal", function (event) {
                let triggerElement = $(event.relatedTarget);
                let id = triggerElement.data("taskid");
                $("#btnSil").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./Task/DeleteTask",
                        data: { "id": id },
                        dataType: "json",
                        contentType: "application/json; charset=utf8",
                        success: function () {
                            alert("Silme işlemi başarılı");
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                            console.log(error);
                        }
                    });
                });
            })
        });
    </script>
}