@model ReportEditDto

@{
    ViewData["Title"] = "EditReport";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<form method="post" asp-action="EditReport" class="w-75 mx-auto p-3">
    <input name="Id" type="hidden" value="@Model.Id" />
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Rapor Yazılan Görev
            </div>
        </div>
        <div class="card-body">
            <p>
                <span class="font-weight-bold mr-2">Görev Ad :</span>@Model.Task.Name
            </p>
            <p>
                <span class="font-weight-bold mr-2">Görev Açıklama :</span>@Model.Task.Description
            </p>
            <p>
                <span class="font-weight-bold mr-2">Görev Aciliyet :</span>@Model.Task.Urgency.Description
            </p>
        </div>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <span class="text-danger" asp-validation-for="@Model.Description"></span>
        <textarea class="form-control" type="text" asp-for="@Model.Description"></textarea>
    </div>
    <div class="form-group">
        <label>Detay</label>
        <span class="text-danger" asp-validation-for="@Model.Detail"></span>
        <textarea class="form-control" type="text" asp-for="@Model.Detail"></textarea>
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-sm btn-warning">
            <i class="fas fa-chevron-circle-left mr-2"></i>Vazgeç
        </a>
        <button type="submit" class="btn btn-info btn-sm">
            <i class="fas fa-save mr-2"></i>Kaydet
        </button>
    </div>
</form>
@section JavaScript{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}