@model List<TaskListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
@foreach (var item in Model)
{
    <div class="card my-1">
        <div class="card-header">
            @item.Ad
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span class="text-danger">Aciliyet Durumu:</span>
                @item.Urgency.Description
            </h5>
            <p class="card-text">
                @item.Aciklama
            </p>
            <p class="text-right">
                @if (item.Reports.Any())
                {
                    <a class="btn btn-light btn-sm"
                       data-toggle="collapse"
                       href="#reportSection"
                       role="button" aria-expanded="false"
                       aria-controls="collapseExample">
                        Raporlara Git
                        <i class="fas fa-caret-down fa-1x ml-2"></i>
                        <span class="badge badge-dark">@item.Reports.Count</span>
                    </a>
                }
                else
                {
                    <span class="lead font-weight-bold font-italic d-block text-left mb-1">Rapor bulunmuyor. Görevinizi detaylandırın...</span>
                    <a href="#" class="btn btn-light btn-sm">
                        Rapor Oluştur
                        <i class="fas fa-caret-down fa-1x ml-2"></i>
                        <span class="badge badge-dark">@item.Reports.Count</span>
                    </a>
                }
                <a href="#" class="btn btn-dark btn-sm">
                    Tamamlandı Olarak İşaretle
                </a>
            </p>
            <div class="collapse" id="reportSection">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>


        </div>
    </div>
}