@model List<TaskListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
@foreach (var item in Model)
{
    <div class="card my-1">
        <div class="card-header">
            @item.Ad
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span class="text-danger">Aciliyet Durumu:</span>
                @item.Urgency.Description
            </h5>
            <p class="card-text">
                @item.Aciklama
            </p>
            <p class="text-right">
                @if (item.Reports.Any())
                {
                    <a class="btn btn-light btn-sm"
                       data-toggle="collapse"
                       href="#reportSection-@item.Id"
                       role="button" aria-expanded="false"
                       aria-controls="collapseExample">
                        Raporlara Git
                        <i class="fas fa-caret-down fa-1x ml-2"></i>
                        <span class="badge badge-dark">@item.Reports.Count</span>
                    </a>
                }
                else
                {
                    <span class="lead font-weight-bold font-italic d-block text-left mb-1">Rapor bulunmuyor. Görevinizi detaylandırın...</span>
                    <a asp-action="AddReport" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                        Rapor Oluştur
                        <i class="fas fa-plus fa-1x ml-2"></i>
                    </a>
                }
                <a class="btn btn-dark btn-sm" data-toggle="modal" data-target="#complateTaskModal" data-taskid="@item.Id">
                    Tamamlandı Olarak İşaretle
                </a>
            </p>
            <div class="collapse" id="reportSection-@item.Id">
                <div class="card card-body">
                    <a asp-action="AddReport" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                        Rapor Oluştur
                        <i class="fas fa-plus fa-1x ml-2"></i>
                    </a>
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <td>
                                    Ad
                                </td>
                                <td>
                                    Tanım
                                </td>
                                <td>
                                    İşlem
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var report in item.Reports)
                            {
                                <tr>
                                    <td>@report.Description</td>
                                    <td>@report.Detail</td>
                                    <td>
                                        <a class="btn btn-sm btn-warning"
                                           asp-action="EditReport"
                                           asp-route-id="@report.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger"
                                           asp-action="DeleteReport"
                                           asp-route-id="@report.Id">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="complateTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tamamlaTaskModal">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Grev tamamlandıya çekilecektir. Onaylıyor musunuz ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Vazgeç</button>
                    <button id="btnSave" type="button" class="btn btn-primary"><i class="fas fa-check mr-2"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </div>

}

@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#complateTaskModal").on("show.bs.modal", function (event) {
                let triggerElement = $(event.relatedTarget);
                let id = triggerElement.data("taskid");
                console.log(id);
                $("#btnSave").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./TaskOrder/CompleteTask",
                        data: { "TaskId": id },
                        dataType: "json",
                        contentType: "application/json; charset=utf8",
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                            console.log(error);
                        }
                    });
                });
            })
        });
    </script>
}